Question 1
A database is an organized collection of data stored remotely digitally and managed through a DBMS. spreadsheet is a computer program used to store dtaa in rows and columns like an electronics document. 

Databases are more robust

b
The data can be spread over different databases in the case of relational data. 
its faster in manipulating and handling large amounts of data

2
A relational databaseis a database where data is stored in rows and columns and information is interconnected with each other making it easy to see the relationship between different information. 

Advantages
1. flexible
2. more security
3. collaboration
4. intergrity

3. SQL is structured query language is used to manipulate relational databases
Adv
fast in working with large data set
no need for complex coding skills
large user community

In [1]:
import sqlite3
con = sqlite3.connect('MCU.db')

In [2]:
cur = con.cursor() # used to execute sql codes

In [8]:
val = cur.execute('select * from MCU_movies')
val = val.fetchall()
val

[(1001, 'Iron Man', 2008, 7.9),
 (1002, 'The Incredible Hulk', 2008, 6.7),
 (1003, 'Iron Man 2', 2010, 7.0),
 (1004, 'Thor', 2011, 7.0),
 (1005, 'Captain America: The First Avenger', 2011, 6.9),
 (1006, 'The Avengers', 2012, 8.0),
 (1007, 'Iron Man 3', 2013, 7.2),
 (1008, 'Thor: The Dark World', 2013, 6.9),
 (1009, 'Captain America: The Winter Soldier', 2014, 7.7),
 (1010, 'Guardians of the Galaxy', 2014, 8.0),
 (1011, 'Avengers: Age of Ultron', 2015, 7.3),
 (1012, 'Ant-Man', 2015, 7.3),
 (1013, 'Captain America: Civil War', 2016, 7.8),
 (1014, 'Doctor Strange', 2016, 7.5),
 (1015, 'Guardians of the Galaxy Vol. 2', 2017, 7.6),
 (1016, 'Spider-Man: Homecoming', 2017, 7.4),
 (1017, 'Thor: Ragnarok', 2017, 7.9),
 (1018, 'Black Panther', 2018, 7.3),
 (1019, 'Avengers: Infinity War', 2018, 8.4),
 (1020, 'Ant-Man and The Wasp', 2018, 7.1),
 (1021, 'Captain Marvel', 2019, 6.9),
 (1022, 'Avengers: Endgame', 2019, 8.4),
 (1001, 'Iron Man', 2008, 7.9),
 (1002, 'The Incredible Hulk', 2008, 6.7),
 (1003, 'Iron Man 2', 2010, 7.0),
 (1004, 'Thor', 2011, 7.0),
 (1005, 'Captain America: The First Avenger', 2011, 6.9),
 (1006, 'The Avengers', 2012, 8.0),
 (1007, 'Iron Man 3', 2013, 7.2),
 (1008, 'Thor: The Dark World', 2013, 6.9),
 (1009, 'Captain America: The Winter Soldier', 2014, 7.7),
 (1010, 'Guardians of the Galaxy', 2014, 8.0),
 (1011, 'Avengers: Age of Ultron', 2015, 7.3),
 (1012, 'Ant-Man', 2015, 7.3),
 (1013, 'Captain America: Civil War', 2016, 7.8),
 (1014, 'Doctor Strange', 2016, 7.5),
 (1015, 'Guardians of the Galaxy Vol. 2', 2017, 7.6),
 (1016, 'Spider-Man: Homecoming', 2017, 7.4),
 (1017, 'Thor: Ragnarok', 2017, 7.9),
 (1018, 'Black Panther', 2018, 7.3),
 (1019, 'Avengers: Infinity War', 2018, 8.4),
 (1020, 'Ant-Man and The Wasp', 2018, 7.1),
 (1021, 'Captain Marvel', 2019, 6.9),
 (1022, 'Avengers: Endgame', 2019, 8.4)]

In [12]:
cur.execute('''DELETE FROM MCU_movies
WHERE EXISTS (
  SELECT 1 FROM MCU_movies mc 
  WHERE mc.movie_id = mc.movie_id
);
''')

In [20]:
cur.execute('SELECT * FROM MCU_movies').fetchall()

[(1001, 'Iron Man', 2008, 7.9),
 (1002, 'The Incredible Hulk', 2008, 6.7),
 (1003, 'Iron Man 2', 2010, 7.0),
 (1004, 'Thor', 2011, 7.0),
 (1005, 'Captain America: The First Avenger', 2011, 6.9),
 (1006, 'The Avengers', 2012, 8.0),
 (1007, 'Iron Man 3', 2013, 7.2),
 (1008, 'Thor: The Dark World', 2013, 6.9),
 (1009, 'Captain America: The Winter Soldier', 2014, 7.7),
 (1010, 'Guardians of the Galaxy', 2014, 8.0),
 (1011, 'Avengers: Age of Ultron', 2015, 7.3),
 (1012, 'Ant-Man', 2015, 7.3),
 (1013, 'Captain America: Civil War', 2016, 7.8),
 (1014, 'Doctor Strange', 2016, 7.5),
 (1015, 'Guardians of the Galaxy Vol. 2', 2017, 7.6),
 (1016, 'Spider-Man: Homecoming', 2017, 7.4),
 (1017, 'Thor: Ragnarok', 2017, 7.9),
 (1018, 'Black Panther', 2018, 7.3),
 (1019, 'Avengers: Infinity War', 2018, 8.4),
 (1020, 'Ant-Man and The Wasp', 2018, 7.1),
 (1021, 'Captain Marvel', 2019, 6.9),
 (1022, 'Avengers: Endgame', 2019, 8.4)]

In [3]:
# creating a table
cur.execute('CREATE TABLE MCU_movies(movie_id, title, year, score)')

OperationalError: table MCU_movies already exists

In [4]:
res = cur.execute('select movie_id from MCU_movies')
res.fetchone()

(1001,)

In [14]:
movie_data = [
    (1001, 'Iron Man', 2008, 7.9),
    (1002, 'The Incredible Hulk', 2008, 6.7),
    (1003, 'Iron Man 2', 2010, 7.0),
    (1004, 'Thor', 2011, 7.0),
    (1005, 'Captain America: The First Avenger', 2011, 6.9),
    (1006, 'The Avengers', 2012, 8.0),
    (1007, 'Iron Man 3', 2013, 7.2),
    (1008, 'Thor: The Dark World', 2013, 6.9),
    (1009, 'Captain America: The Winter Soldier', 2014, 7.7),
    (1010, 'Guardians of the Galaxy', 2014, 8.0),
    (1011, 'Avengers: Age of Ultron', 2015, 7.3),
    (1012, 'Ant-Man', 2015, 7.3),
    (1013, 'Captain America: Civil War', 2016, 7.8),
    (1014, 'Doctor Strange', 2016, 7.5),
    (1015, 'Guardians of the Galaxy Vol. 2', 2017, 7.6),
    (1016, 'Spider-Man: Homecoming', 2017, 7.4),
    (1017, 'Thor: Ragnarok', 2017, 7.9),
    (1018, 'Black Panther', 2018, 7.3),
    (1019, 'Avengers: Infinity War', 2018, 8.4),
    (1020, 'Ant-Man and The Wasp', 2018, 7.1),
    (1021, 'Captain Marvel', 2019, 6.9),
    (1022, 'Avengers: Endgame', 2019, 8.4),
]

In [15]:
cur.executemany('insert into MCU_movies values(?,?,?,?)', movie_data)
con.commit()

In [16]:
cur.execute('select score from MCU_movies').fetchall()

[(7.9,),
 (6.7,),
 (7.0,),
 (7.0,),
 (6.9,),
 (8.0,),
 (7.2,),
 (6.9,),
 (7.7,),
 (8.0,),
 (7.3,),
 (7.3,),
 (7.8,),
 (7.5,),
 (7.6,),
 (7.4,),
 (7.9,),
 (7.3,),
 (8.4,),
 (7.1,),
 (6.9,),
 (8.4,)]

In [17]:
cur.execute('select year, title from MCU_movies').fetchall()

[(2008, 'Iron Man'),
 (2008, 'The Incredible Hulk'),
 (2010, 'Iron Man 2'),
 (2011, 'Thor'),
 (2011, 'Captain America: The First Avenger'),
 (2012, 'The Avengers'),
 (2013, 'Iron Man 3'),
 (2013, 'Thor: The Dark World'),
 (2014, 'Captain America: The Winter Soldier'),
 (2014, 'Guardians of the Galaxy'),
 (2015, 'Avengers: Age of Ultron'),
 (2015, 'Ant-Man'),
 (2016, 'Captain America: Civil War'),
 (2016, 'Doctor Strange'),
 (2017, 'Guardians of the Galaxy Vol. 2'),
 (2017, 'Spider-Man: Homecoming'),
 (2017, 'Thor: Ragnarok'),
 (2018, 'Black Panther'),
 (2018, 'Avengers: Infinity War'),
 (2018, 'Ant-Man and The Wasp'),
 (2019, 'Captain Marvel'),
 (2019, 'Avengers: Endgame')]

In [18]:
cur.execute('select title, year from MCU_movies order by year').fetchall()

[('Iron Man', 2008),
 ('The Incredible Hulk', 2008),
 ('Iron Man 2', 2010),
 ('Thor', 2011),
 ('Captain America: The First Avenger', 2011),
 ('The Avengers', 2012),
 ('Iron Man 3', 2013),
 ('Thor: The Dark World', 2013),
 ('Captain America: The Winter Soldier', 2014),
 ('Guardians of the Galaxy', 2014),
 ('Avengers: Age of Ultron', 2015),
 ('Ant-Man', 2015),
 ('Captain America: Civil War', 2016),
 ('Doctor Strange', 2016),
 ('Guardians of the Galaxy Vol. 2', 2017),
 ('Spider-Man: Homecoming', 2017),
 ('Thor: Ragnarok', 2017),
 ('Black Panther', 2018),
 ('Avengers: Infinity War', 2018),
 ('Ant-Man and The Wasp', 2018),
 ('Captain Marvel', 2019),
 ('Avengers: Endgame', 2019)]

In [19]:
cur.execute('select title, year from MCU_movies order by score desc').fetchall()

[('Avengers: Infinity War', 2018),
 ('Avengers: Endgame', 2019),
 ('The Avengers', 2012),
 ('Guardians of the Galaxy', 2014),
 ('Iron Man', 2008),
 ('Thor: Ragnarok', 2017),
 ('Captain America: Civil War', 2016),
 ('Captain America: The Winter Soldier', 2014),
 ('Guardians of the Galaxy Vol. 2', 2017),
 ('Doctor Strange', 2016),
 ('Spider-Man: Homecoming', 2017),
 ('Avengers: Age of Ultron', 2015),
 ('Ant-Man', 2015),
 ('Black Panther', 2018),
 ('Iron Man 3', 2013),
 ('Ant-Man and The Wasp', 2018),
 ('Iron Man 2', 2010),
 ('Thor', 2011),
 ('Captain America: The First Avenger', 2011),
 ('Thor: The Dark World', 2013),
 ('Captain Marvel', 2019),
 ('The Incredible Hulk', 2008)]

In [19]:
marvel = cur.execute('select * from MCU_movies').fetchall()

In [22]:
import pandas as pd
marvel = pd.DataFrame(marvel)
marvel

       0                                    1     2    3
0   1001                             Iron Man  2008  7.9
1   1002                  The Incredible Hulk  2008  6.7
2   1003                           Iron Man 2  2010  7.0
3   1004                                 Thor  2011  7.0
4   1005   Captain America: The First Avenger  2011  6.9
5   1006                         The Avengers  2012  8.0
6   1007                           Iron Man 3  2013  7.2
7   1008                 Thor: The Dark World  2013  6.9
8   1009  Captain America: The Winter Soldier  2014  7.7
9   1010              Guardians of the Galaxy  2014  8.0
10  1011              Avengers: Age of Ultron  2015  7.3
11  1012                              Ant-Man  2015  7.3
12  1013           Captain America: Civil War  2016  7.8
13  1014                       Doctor Strange  2016  7.5
14  1015       Guardians of the Galaxy Vol. 2  2017  7.6
15  1016               Spider-Man: Homecoming  2017  7.4
16  1017                       Thor: Ragnarok  2017  7.9
17  1018                        Black Panther  2018  7.3
18  1019               Avengers: Infinity War  2018  8.4
19  1020                 Ant-Man and The Wasp  2018  7.1
20  1021                       Captain Marvel  2019  6.9
21  1022                    Avengers: Endgame  2019  8.4

In [23]:
con.close()

In [5]:
check = cur.execute('select * from MCU_movies')

In [9]:
import pandas as pd
check=pd.DataFrame(check)
check

       0                                    1     2    3
0   1001                             Iron Man  2008  7.9
1   1002                  The Incredible Hulk  2008  6.7
2   1003                           Iron Man 2  2010  7.0
3   1004                                 Thor  2011  7.0
4   1005   Captain America: The First Avenger  2011  6.9
5   1006                         The Avengers  2012  8.0
6   1007                           Iron Man 3  2013  7.2
7   1008                 Thor: The Dark World  2013  6.9
8   1009  Captain America: The Winter Soldier  2014  7.7
9   1010              Guardians of the Galaxy  2014  8.0
10  1011              Avengers: Age of Ultron  2015  7.3
11  1012                              Ant-Man  2015  7.3
12  1013           Captain America: Civil War  2016  7.8
13  1014                       Doctor Strange  2016  7.5
14  1015       Guardians of the Galaxy Vol. 2  2017  7.6
15  1016               Spider-Man: Homecoming  2017  7.4
16  1017                       Thor: Ragnarok  2017  7.9
17  1018                        Black Panther  2018  7.3
18  1019               Avengers: Infinity War  2018  8.4
19  1020                 Ant-Man and The Wasp  2018  7.1
20  1021                       Captain Marvel  2019  6.9
21  1022                    Avengers: Endgame  2019  8.4
22  1001                             Iron Man  2008  7.9
23  1002                  The Incredible Hulk  2008  6.7
24  1003                           Iron Man 2  2010  7.0
25  1004                                 Thor  2011  7.0
26  1005   Captain America: The First Avenger  2011  6.9
27  1006                         The Avengers  2012  8.0
28  1007                           Iron Man 3  2013  7.2
29  1008                 Thor: The Dark World  2013  6.9
30  1009  Captain America: The Winter Soldier  2014  7.7
31  1010              Guardians of the Galaxy  2014  8.0
32  1011              Avengers: Age of Ultron  2015  7.3
33  1012                              Ant-Man  2015  7.3
34  1013           Captain America: Civil War  2016  7.8
35  1014                       Doctor Strange  2016  7.5
36  1015       Guardians of the Galaxy Vol. 2  2017  7.6
37  1016               Spider-Man: Homecoming  2017  7.4
38  1017                       Thor: Ragnarok  2017  7.9
39  1018                        Black Panther  2018  7.3
40  1019               Avengers: Infinity War  2018  8.4
41  1020                 Ant-Man and The Wasp  2018  7.1
42  1021                       Captain Marvel  2019  6.9
43  1022                    Avengers: Endgame  2019  8.4

In [21]:
# creating a table
cur.execute('CREATE TABLE MCU_Actors(actor_id, actor_name, movie_id)')

In [22]:
actor_data = [
    (1, 'Robert Downey Jr.', 1001),
    (2, 'Chris Evans', 1005),
    (3, 'Mark Ruffalo', 1006),
    (4, 'Chris Hemsworth', 1004),
    (5, 'Scarlett Johansson', 1006),
    (6, 'Jeremy Renner', 1006),
    (7, 'Tom Hiddleston', 1004),
    (8, 'Clark Gregg', 1001),
    (9, 'Paul Rudd', 1012),
    (10, 'Benedict Cumberbatch', 1014)
]

In [23]:
# Insert actor data into the MCU_Actors table
cur.executemany("INSERT OR IGNORE INTO MCU_Actors VALUES(?,?,?)", actor_data)
con.commit()

In [25]:
actors = cur.execute('select * from MCU_Actors').fetchall()

In [26]:
import pandas as pd
marvel_actors = pd.DataFrame(actors)
marvel_actors

    0                     1     2
0   1     Robert Downey Jr.  1001
1   2           Chris Evans  1005
2   3          Mark Ruffalo  1006
3   4       Chris Hemsworth  1004
4   5    Scarlett Johansson  1006
5   6         Jeremy Renner  1006
6   7        Tom Hiddleston  1004
7   8           Clark Gregg  1001
8   9             Paul Rudd  1012
9  10  Benedict Cumberbatch  1014

In [29]:
marvel_actors.columns = ['actor_id', 'actor_name', 'movie_id']

In [30]:
marvel_actors

   actor_id            actor_name  movie_id
0         1     Robert Downey Jr.      1001
1         2           Chris Evans      1005
2         3          Mark Ruffalo      1006
3         4       Chris Hemsworth      1004
4         5    Scarlett Johansson      1006
5         6         Jeremy Renner      1006
6         7        Tom Hiddleston      1004
7         8           Clark Gregg      1001
8         9             Paul Rudd      1012
9        10  Benedict Cumberbatch      1014

In [38]:
movie_actor = cur.execute('select mcm.movie_id, title, year, score, actor_name from MCU_Actors mca join MCU_movies mcm on mcm.movie_id = mca.movie_id').fetchall()

In [39]:
movie_actor = pd.DataFrame(movie_actor)
movie_actor

      0                                   1     2    3                     4
0  1001                            Iron Man  2008  7.9     Robert Downey Jr.
1  1005  Captain America: The First Avenger  2011  6.9           Chris Evans
2  1006                        The Avengers  2012  8.0          Mark Ruffalo
3  1004                                Thor  2011  7.0       Chris Hemsworth
4  1006                        The Avengers  2012  8.0    Scarlett Johansson
5  1006                        The Avengers  2012  8.0         Jeremy Renner
6  1004                                Thor  2011  7.0        Tom Hiddleston
7  1001                            Iron Man  2008  7.9           Clark Gregg
8  1012                             Ant-Man  2015  7.3             Paul Rudd
9  1014                      Doctor Strange  2016  7.5  Benedict Cumberbatch

In [40]:
movie_actor.columns = ['movie_id', 'title', 'year', 'score', 'actor_name']

In [41]:
movie_actor

,movie_id,title,year,score,actor_name
0,1001,Iron Man,2008,7.9,Robert Downey Jr.
1,1005,Captain America: The First Avenger,2011,6.9,Chris Evans
2,1006,The Avengers,2012,8.0,Mark Ruffalo
3,1004,Thor,2011,7.0,Chris Hemsworth
4,1006,The Avengers,2012,8.0,Scarlett Johansson
5,1006,The Avengers,2012,8.0,Jeremy Renner
6,1004,Thor,2011,7.0,Tom Hiddleston
7,1001,Iron Man,2008,7.9,Clark Gregg
8,1012,Ant-Man,2015,7.3,Paul Rudd
9,1014,Doctor Strange,2016,7.5,Benedict Cumberbatch